* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: white;
}

input{
  margin: 7px;
  padding: 10px 20px;
}

.box{
  height: 100px;
  width: 100px;
  background-color: indianred;
}

.page1{
  height: 100vh;
  width: 100%;
  background-color: #111;
}

.page2{
    height: 100vh;
  width: 100%;
  background-color: #222;
}

.page3{
    height: 100vh;
  width: 100%;
  background-color: #333;
}