* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: white;
}

.parent{
  height: 100;
  width: 100;
  background-color: #1111;
  color: #0c0b0b;
  padding: 30px;
  display: flex;
  gap: 28px;
}

.card{
   height: 350px;
   width: 350px;
   background-color: white;
   border-radius: 20px; 
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.top img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-family: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}



.center h3{
  font-size: 18px;
  font-weight: 500;
}

.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
  font-weight: 600;
}

.center .tag{
  display: flex;
  margin-top: 8px;
  gap: 10px;
}

.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}