*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #111;
  color: #fff;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
  background-color: rgb(27, 146, 154);
}

.Light{
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
  background-color: rgb(27, 146, 154);
}

.Dark{
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
  background-color: rgb(27, 95, 154);
}

.nav2{
  display: flex;
  gap: 20px;
}

.button{
  padding: 10px 15px;
  display: flex;
  gap: 10px;
}

.bt{
  padding: 10px 25px;
  cursor: pointer;
}

.bt:active{
  background-color: aqua;
  transform: translateY(3px);
}

.reload{
  padding: 10px 15px;
   cursor: pointer;
}

.reload:active{
  background-color: aqua;
  transform: translateY(3px);
}