* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: white;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid whitesmoke;
  text-align: center;
  background-color: #333;
}

.card p{
  margin:20px 0;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: #111;
  border: none;
  border-radius: 10px;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}