    {
        "CSS Boilerplate": {
            "prefix": "boilerplate",
            "body": [
                "* {",
                "    padding: 0;",
                "    margin: 0;",
                "    box-sizing: border-box;",
                "}",
                "",
                "html,",
                "body {",
                "    height: 100%;",
                "    width: 100%;",
                "}"
            ],
            "description": "Basic CSS boilerplate with reset and full-screen setup"
        }
    }