* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: white;
}

.btn{
    background-color:red;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

.head{
    background-color: aquamarine;
    padding: 10px;
    margin:8px
}

.head button{
  padding: 5px;
  margin:  10px;
  border-radius: 5px;
}